<html lang="en">

<head>
</head>

<body>
    <h1>Image Search Abstraction Layer</h1>
    <h2>Objective</h2>
    <p>Build a full stack JavaScript app that allows you to search for images like this: https://cryptic-ridge-9197.herokuapp.com/api/imagesearch/lolcats%20funny?offset=10 and browse recent search queries like this: https://cryptic-ridge-9197.herokuapp.com/api/latest/imagesearch/.
        Then deploy it to Heroku.</p>
    <p>Note that for each project, you should create a new GitHub repository and a new Heroku project. If you can't remember how to do this, revisit http://freecodecamp.com/challenges/get-set-for-our-back-end-development-projects.</p>

    <p>Here are the specific user stories you should implement for this project:</p>
    <ul>
        <li>User Story: I can get the image URLs, alt text and page urls for a set of images relating to a given search string.</li>
        <li>User Story: I can paginate through the responses by adding a ?offset=2 parameter to the URL.</li>
        <li>User Story: I can get a list of the most recently submitted search strings.</li>
    </ul>
    <p>Once you've finished implementing these user stories, click the "I've completed this challenge" button and enter the URLs for both your GitHub repository and your live app running on Heroku.</p>

    <p>You can get feedback on your project from fellow campers by sharing it in our Code Review Chatroom. You can also share it on Twitter and your city's Campsite (on Facebook).</p>

</body>

</html>